.romi-style{
    font-family: Nunito;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
    line-height: 40.99px;
    color: #191D21;
    width: 330px;
}

.image-style{
    flex-grow: 2;
    margin-left: 10px;
}

.text-style{
    flex-grow: 12;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.text-styles{
    position: relative;
    font-family: Nunito;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    top: 10px;
    left: -10px;
}
.vi-style{
    height: 16px;
    font-family: Nunito;
    font-weight: 400;
    font-style: normal;
    color: #656F77;
    font-size: 14px;
    position: relative;
    top: -5px;
    left: -10px;
}

.doted-style{
    flex-grow: 1;
}

.mainDivs{
    display: flex;
    width: 100%;
}

.mainDivs >div{
    width: 45%;
    height: 248px;
    border-radius: 16px;
    padding: 16px;
   
    
}

.div-1-style{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.g-style{
    font-family: Nunito;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -.5px;
    color: #656F77;
    position: relative;
    left: -25px;
}

.d-style{
    font-family: Nunito;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -.5px;
    color: #656F77;
    position: relative;
    left:30px;
    
}

